<h1>Microdeposits Successful</h1>

  <p>Please check your bank statement for the amounts of the microdeposits. Go to your account <a href="{{ host_name }}/account/payment">payment settings</a>, enter the amounts, and click verify to complete the process.</p>

  <p><a href="http://payment.rafiproperties.com/help/#microdeposits">More info on microdeposits</a></p>

{{> button }}

<div class="divider"></div>

<h2 class="text-left">Details</h2>

<table class="summary_table" cellpadding="8" width="100%">

{{# details }}
    <tr>
      <td class="summary_cell" align="left">{{ key }}</td>
      <td class="summary_cell strong" align="left">{{ value }}</td>
    </tr>
{{/ details }}

</table>
