// page
$color-page-background: #2d323b;

// sidebar
$color-sidebar-background: #252a30;
$color-sidebar-selected: #323842;
$color-sidebar-hover: #2f333c;
$color-sidebar-color: white;
$color-sidebar-caret: white;

// editor

// dividers
$color-divider-background: #323842;