@import '~%/modules/colors';

a {
  color: $color-highlight;
  // text-decoration: none;

  &:hover {
    // text-decoration: underline;
  }

  &:active {
    color: darken($color-highlight, 8%);
    // text-decoration: none;
  }

  &:visited {
    color: darken($color-highlight, 8%);
    // text-decoration: none;
  }
}