<h1>Bank Account Verified</h1>

<p>"{{ account_name }}" has been succesfully verified.<br />Thanks for using Rafi Payment!</p>

<img src="{{ host_name }}{{ image_path }}/icons/status-complete.png" title="Account Verified" alt="Account Verified" class="icon" />

<div class="divider"></div>

<h2 class="text-left">Details</h2>

<table class="summary_table" cellpadding="8" width="100%">

{{# details }}
    <tr>
      <td class="summary_cell" align="left">{{ key }}</td>
      <td class="summary_cell strong" align="left">{{ value }}</td>
    </tr>
{{/ details }}

</table>
