<h1>Autopay Enabled</h1>

<p>
  An automatic payment will be made on the {{ ordinal }} of each month to 
  {{ destination }} in the amount of {{ amount }}.
</p>

<p>
  To disable autopay, go to your <a href="{{ host_name }}/myleases">leases</a>, click on your lease, uncheck "autopay" and click save.
</p>

<div class="divider"></div>

<h2 class="text-left">Details</h2>

<table class="summary_table" cellpadding="8" width="100%">

{{# details }}
    <tr>
      <td class="summary_cell" align="left">{{ key }}</td>
      <td class="summary_cell strong" align="left">{{ value }}</td>
    </tr>
{{/ details }}

</table>