@import 'colors';
@import 'fonts';

body {
  font-family: $font-family-primary;
  background: $color-background;
  margin: 0;
}

.email_container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 550px;
  margin: 0px auto;
}

.logo_container {
  padding: 20px;
}

.logo {
  display: inline-block;
  vertical-align: top;
  max-width: 100px;
}

.icon {
  margin: 20px 0 10px;
  max-width: 60px;
}

.small {
  margin: 6px 0 6px;
  max-width: 24px;
}

.divider {
  margin: 20px -20px;
  border-bottom: 2px solid #efefef;
}

.email_body {
  padding: 20px 20px 10px 20px;
  background: #ffffff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  list-style-type: square;
}

li {
  margin: 8px;
  text-align: left;
  color: #6d6e71;
  mso-special-format: bullet;
}

h1 {
  font-size: 24px;
  margin: 0;
  padding: 10px 10px 0 10px;
  color: #6d6e71;
  font-weight: 500;
}

.negative {
  color: #e91e63;
}

.positive {
  color: #56ba77;
}

h2 {
  font-size: 22px;
  font-weight: 200;
  margin: 0px;
  padding: 20px;
  color: #6d6e71;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  color: #6d6e71;
}

p {
  line-height: 22px;
  margin: 0px;
  padding: 10px;
  color: #6d6e71;
}

p.small_text {
  font-size: 12px;
  line-height: 1.5;
}

p.small_text.strong {
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
}

p.intro_text {
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
}

a {
  color: #0071bc;
}

sup {
  font-size: 7px;
}

.strong {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.email_footer {
  background: #efefef;
}

.signature {
  font-size: 11px;
  line-height: 1.2;
  padding: 20px 0;
  color: #666;
  margin: 0px;
}

.summary_table {
  margin-top: 20px;
  margin-bottom: 10px;
  border-spacing: 0;
  font-size: 12px;
  color: #6d6e71;
}

.summary_cell {
  border-top: 1px solid #6d6e71;
}

.activation_table {
  margin-top: 30px;
}

.status {
  display: inline-block;
  padding: 4px 6px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 12px;
  font-weight: 200;
}

.status.pending {
  background-color: #007dc1;
  color: #ffffff;
}

.status.processed {
  background-color: #56ba77;
  color: #ffffff;
}

.status.error,
.status.failed,
.status.cancelled {
  background-color: #e91e63;
  color: #ffffff;
}