<img src="https://gallery.mailchimp.com/501195143c458645ba1f38110/images/c1893831-08c6-4b18-bda4-73ed81d4471d.jpg" alt="5ab9a40f-549b-4619-92c2-d7fd6e34e6b4.png" border="0" style="margin: 0;padding: 0;max-width: 564px;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 100%;margin-bottom: 10px;" width="564" class="templateImage">

{{> intro }}

<div class="divider"></div>

<ol>
  <li>Download the app from the Apple or Google app store</li>
  <li>Click the activation link below</li>
  <li>Confirm your lease information</li>
  <li>Link your bank account</li>
</ol>

<div class="divider"></div>

{{> app_store_buttons }}

<div class="divider"></div>

{{> button }}

<p class="small_text">
  or you may <a href="{{ decline_url }}">reject your invitation to Rafi Payment</a>. You will stop receiving notifications and will be unable to access your account until re-invited by your property manager.
</p>
