<h1>Welcome to Rafi Payment!</h1>

<p>Your account has been successfully activated! Here's a summary of what you've done so far:</p>

<p><strong>Note:</strong> To verify your bank account, we are making two small deposits. Keep an eye out for these on your bank statement. More info on microdeposits <a href="http://payment.rafiproperties.com/help">here</a>.</p>

<table class="summary_table activation_table" cellpadding="8" width="100%">

{{# details }}

  <tr>
    <td class="summary_cell" align="left" width="40"><img src="{{image_path}}/icons/status-{{ status }}.png" title="{{ status }}" alt="{{ status }}" class="icon small" /></td>
    <td class="summary_cell strong" align="left">{{ body }}</td>
    <td class="summary_cell strong" align="right">{{# url }}<a href="{{ url }}" target="_blank">More info</a>{{/ url }}</td>
  </tr>

{{/ details }}

</table>

{{> button }}
