<table width="100%">
  <tr>
    <td align="right">
      <a href="https://itunes.apple.com/us/app/rafi-payment/id1248376543">
        <img src="https://gallery.mailchimp.com/501195143c458645ba1f38110/images/87a5d337-d4f2-4b76-9585-65d440893ac8.gif" alt="Apple App Store">
      </a>
    </td>
    <td align="left">
      <a href="https://play.google.com/store/apps/details?id=com.rafi.payment&hl=en">
        <img src="https://gallery.mailchimp.com/501195143c458645ba1f38110/images/1d9e6864-c3bd-4461-8d33-f38d49cce2b3.gif" alt="Google Play Store">
      </a>
    </td>
  </tr>
</table>
